<h3><%= I18n.t('welcome') %></h3>
<nav>
    <ul>
        <li>
            <%= link_to I18n.t('menu.add.coins'), coins_path %>
        </li>
        <li>
            <%= link_to I18n.t('menu.add.mining-types'), mining_types_path %>
        </li>    
    </ul>
</nav>
