<h1>Welcome</h1>
<p><strong>Date: </strong><%= date_to_br %></p>
<ul>
    <li>
        <%= link_to "Add coins", coins_path %>
    </li>
</ul>

<hr />
<footer>
    <p>Environment: <strong><%=Rails.env%></strong></p>
</footer>
