<h3><%= I18n.t('welcome') %></h3>
<nav>
    <ul class='nav justify-content'>
        <li class='nav-item'>
            <%= link_to I18n.t('menu.add.coins'), coins_path, class: 'nav-link' %>
        </li>
        <li>
            <%= link_to I18n.t('menu.add.mining-types'), mining_types_path, class: 'nav-link' %>
        </li>    
    </ul>
</nav>
