table {
  border: 1px solid black;
}

th {
  border: 1px solid black;
  padding: 0 10px;
}

td {
  border: 1px solid black;
  text-align: center;
  line-height: 10px;
}

td img {
  padding-top: 5px;
}
